target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

### Logs ###
*.log

### Secrets / entorno local ###
.env
*.pem
wallet/

### OS ###
.DS_Store
Thumbs.db
